* {
  box-sizing: border-box;
  padding:0px;
  margin:0px;
}

body {
  margin: 0;
  padding: 0px;
  font-family: "Roboto", sans-serif;
  line-height: 2;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 10px 20px;
}

h2{
font-size: xx-large;

}
p {
  padding: 10px 30px;
}

/*-------header and Navigation-------*/
.header {
  display: flex;
 justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #333;
  color: white;
  height: 200px;
}

.name {
  font-size: 3.5em;
  
}

.headernav {
  display: flex;
  align-items: center;
}

.headernav a {
  
  margin-left: 50px;
  text-decoration: none;
  color: white;

}

.hero p{color: white;}
/*------------CSS Grid Set up------------*/

.page-wrapper{
  
  justify-content:space-evenly;
  align-items:start;
  padding: 0px;
}

.pagesection{

  display:grid;

  grid-template-columns: 20% 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr 1fr 10%;
  grid-template-areas: 
  'aboutaside about about'
  'workaside work work'
  'workaside work work'
  'workaside work work'
  'contactaside contacticons1 contacticons2' ;
}

/* shorthand = grid-area: rowstart, colstart,rowend,colend*/

#aboutaside{
border-right: 5px solid black;

grid-area:1 / 1 / 2 / 2 ;


}
#about{
padding-bottom: 0%;
grid-area:1 / 2 / 2 / 4;

}

#workaside{
  border-right: 5px solid black;
background-color: antiquewhite;
grid-area:2 / 1 / 5 / 2;
z-index: 1;


  }
  #work{
    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;
/*display: grid;
justify-self: center;
align-self: center;*/
border-radius: 15px 50px 30px 5px;
background-color: cornflowerblue;
grid-area:2 / 2 / 3 / 4;
  }
.work img {
  border-radius: 15px 50px 30px 5px;
  width:100%;
  height:auto;
  max-width: 100%;
}

#work1 {
  border-radius: 15px 50px 30px 5px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: darksalmon;
grid-area:3 / 2 / 4 / 3;


}

#work2 {
  border-radius: 15px 50px 30px 5px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
 background-color: forestgreen;
grid-area:3 / 3 / 4 / 4;

}

#work3 {
  border-radius: 15px 50px 30px 5px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
background-color: mediumpurple;
  grid-area: 4 / 2 / 5 / 3;
}

#work4 {
  border-radius: 15px 50px 30px 5px;
  position: relative;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: tomato;
  grid-area:4 / 3 / 5 / 4 ;
}
  #contactaside{

  border-right: 5px solid black;
  grid-area:5 / 1 / 6 / 2;
  position: relative;
  display:flex;

  align-items: center;

  background-color: aqua;
  /* shorthand = grid-area: rowstart, colstart,rowend,colend*/
    }
    #contacticons1{
background-color: rgb(37, 151, 35);
      position: relative;
      display:flex;
      justify-content: center;
      align-items: center;
    grid-area:5 / 2 / 6 / 3;
    }
    #contacticons1 a{
      padding: 20%;
    }
  
  #contacticons2{
 

    position: relative;
    display:flex;
    justify-content: center;
    align-items: center;

  grid-area:5 / 3 / 6 / 4;
  z-index: -1;
  }
  #contacticons2 a{
    padding: 20%;
  }
  /*--------------------------------------------------------*/